/* RESETEO de página */

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    background: #252B37;
    font-size: 1.1875rem;
    font-family: 'Tomorrow', sans-serif;
}

main {
    width: 90%;
    margin: auto;
    display: grid;
    max-width: 62.5rem;
    grid-template-rows: 100%;
    grid-template-columns: repeat(3, 1fr);
}

main,
header {
    grid-column: 1/4;
    text-align: center;
}

h1 {
    padding: 1rem;
    font-size: 2.5rem;
    text-align: center;
    background-size: 2rem 2rem;
    animation: h1 10s ease infinite;
    background-color: linear-gradient(270deg, #0fffc1, rgba(197, 62, 238, 0.486));
}

@keyframes h1 {
    0% {
        color: rgba(161, 84, 197, 0.486);
    }
    50% {
        color: #0fffc1;
    }
    100% {
        color: rgba(133, 82, 182, 0.74);
    }
}

main form {
    grid-column: 2/3;
    height: auto;
    width: auto;
}

form {
    width: 96%;
    height: 88%;
    padding: 1rem;
    margin-top: 3%;
    position: relative;
    border-radius: 1.25rem;
    background-color: #191b248a;
}

form:after {
    top: 5vw;
    right: 0;
    content: "";
    width: 100%;
    z-index: -1;
    height: 100%;
    margin: auto;
    filter: blur(5vw);
    position: absolute;
    transform: scale(0.85);
    background-size: 200% 200%;
    animation: animateGlow 10s ease infinite;
    background: linear-gradient(270deg, #0fffc1, #7e0fff);
}

@keyframes animateGlow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

label {
    display: flex;
    margin-left: 3%;
    font-weight: bold;
    background-size: 2rem 2rem;
    animation: label 10s ease infinite;
    background-color: linear-gradient(270deg, #0fffc1, rgba(106, 196, 231, 0.486));
}

@keyframes label {
    0% {
        color: rgba(161, 84, 197, 0.486);
    }
    50% {
        color: #0fffc1;
    }
    100% {
        color: rgba(133, 82, 182, 0.74);
    }
}

textarea {
    width: 96%;
    margin: 2% 0% 0% 3%;
    text-align: justify;
    font-size: 0.7625rem;
    padding: 2% 0% 0% 2%;
    border-radius: 0.625rem;
    font-family: 'Tomorrow', sans-serif;
}

textarea:hover {
    color: rgb(14, 13, 13);
    text-shadow: 0.063rem 0.063rem 0.375rem #0fffc1;
    box-shadow: 0 0.25rem 1rem rgba(49, 138, 172, 1);
}

.subForm {
    display: grid;
    gap: 0.5625rem;
    padding: 0.5625rem;
    grid-template-columns: 9rem 9.0625rem;
    grid-template-rows: 2.5rem 2.8125rem 3.125rem;
}

input {
    border: none;
    padding: 0.1875rem;
    border-radius: 0.625rem;
    font-family: 'Tomorrow', sans-serif;
}

#shift {
    padding-left: 7%;
}

#shift:hover {
    color: #fff;
    border: 0.065rem solid rgba(255, 255, 255, 0.3);
    background-image: linear-gradient(to bottom right, #1c2a44, #233e5e);
    box-shadow: inset 0 0 1.25rem rgba(49, 138, 172, 0.5), 0 0 1.25rem rgba(49, 138, 172, 0.4);
}

#btnCopiar {
    border-radius: 0.625rem;
    border: 0.0625rem solid rgba(255, 255, 255, 0.3);
    background-image: linear-gradient(to bottom right, #1c2a44, #233e5e);
}

#btnCopiar:hover {
    text-shadow: 0.063rem 0.063rem 0.375rem #0fffc1;
    box-shadow: inset 0 0 1.25rem rgba(49, 138, 172, 0.5), 0 0 1.25rem rgba(49, 138, 172, 0.4);
}

#btnCopiar img {
    width: 1.75rem;
    height: 1.75rem;
}

#cifrando {
    grid-row: 2;
    grid-column: 1/3;
}

#decifrando {
    grid-row: 3;
    grid-column: 1/3;
}

#cifrando,
#decifrando {
    color: snow;
    height: 2.875rem;
    font-size: 1.2rem;
    border-radius: 0.625rem;
    font-family: 'Tomorrow', sans-serif;
    border: 0.063rem solid rgba(255, 255, 255, 0.3);
    background-image: linear-gradient(to bottom right, #1c2a44, #233e5e);
}

#cifrando:hover,
#decifrando:hover {
    text-shadow: 0.063rem 0.063rem 0.375rem #0fffc1;
    box-shadow: inset 0 0 1.25rem rgba(49, 138, 172, 0.5), 0 0 1.25rem rgba(49, 138, 172, 0.4);
}

footer {
    display: flex;
    min-width: 95%;
}

.right {
    display: flex;
    min-width: 50%;
    padding: 0 1rem;
    color: lavender;
    text-align: center;
    font-size: 0.6875rem;
}

#gitHUb {
    width: 1.125rem;
    height: 1.125rem;
    margin: 0rem 0.188rem 0rem 0.188rem;
}

#gitHUb:hover {
    border-radius: 50%;
    box-shadow: inset 0 0 1.25rem rgba(61, 247, 107, 0.863), 0 0 1.25rem rgb(68, 238, 82);
}

.left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 50%;
}

.left a:link,
.left a img {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 3%;
    text-decoration: none;
}

.imgRedes:hover {
    border-radius: 50%;
    box-shadow: inset 0 0 1.25rem rgba(61, 247, 107, 0.863), 0 0 1.25rem rgb(68, 238, 82);
}

#facebook:hover {
    border-radius: 10%;
    box-shadow: inset 0 0 1.25rem rgba(31, 69, 240, 0.863), 0 0 1.25rem rgb(40, 114, 252);
}

#instagram:hover {
    border-radius: 30%;
    box-shadow: inset 0 0 1.25rem rgba(243, 33, 226, 0.863), 0 0 1.25rem rgb(253, 25, 253);
}

#compartir {
    height: 1.8rem;
    width: 1.8rem;
    animation-delay: 0s;
    animation-duration: 3s;
    margin-right: 0.9375rem;
    animation-iteration-count: infinite;
}

.alert {
    height: 185px;
    max-width: 305px;
    display: none;
    position: absolute;
    font-size: 2rem;
    top: 2.85rem;
    left: 1.65rem;
    padding: 1rem;
    border-radius: 0.625rem;
    background-color: rgb(42, 33, 73);
}

.alert span {
    font-size: 0.8rem;
    color: #fff;
    text-shadow: 0 0 1.25rem rgb(68, 238, 82);
}

.show {
    display: block;
}

@media (max-width:576px) {
    footer {
        flex-direction: column-reverse;
        align-items: center;
    }
    .right p {
        padding: 2rem 0;
    }
    .left {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        margin: 2rem 0 0.4rem 0;
    }
}