/* RESETEO de página */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}


/* Definición: Letra GNRL de la pág. tamaño de letra PADRE medida de unidad REM Y EM UX experience usuario ZOOM*/

body {
    background: #252B37;
    font-size: 1.1875rem;
    font-family: 'Tomorrow', sans-serif;
}


/* Maquetación GRID para responsividad FIRTS MOVIL,étc. (Detalles debajo de footer)*/

.contenedor {
    width: 90%;
    max-width: 62.5rem;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 18% 96%;
}


/* Título: Efecto Gradient con inclinación en grades y transparencia con RGBA, animación infinita OLAS keyframe h1,étc.*/

.contenedor .log {
    grid-column: 1/4;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    background-color: linear-gradient(270deg, #0fffc1, rgba(197, 62, 238, 0.486));
    background-size: 2rem 2rem;
    animation: h1 10s ease infinite;
}

@keyframes h1 {
    0% {
        color: rgba(161, 84, 197, 0.486);
    }
    50% {
        color: #0fffc1;
    }
    100% {
        color: rgba(133, 82, 182, 0.74);
    }
}


/* Main: Form textArea Inputs, color gradient azul bottom to right/, hover, blur en shadow text y border button */

.contenedor .form {
    grid-column: 2/3;
}

.form {
    background-color: #191b248a;
    position: relative;
    padding: 1rem;
    border-radius: 1.25rem;
    margin-top: 3%;
    height: 88%;
}

form:after {
    position: absolute;
    content: "";
    top: 5vw;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: auto;
    transform: scale(0.85);
    filter: blur(5vw);
    background: linear-gradient(270deg, #0fffc1, #7e0fff);
    background-size: 200% 200%;
    animation: animateGlow 10s ease infinite;
}

@keyframes animateGlow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.label {
    font-weight: bold;
    background-color: linear-gradient(270deg, #0fffc1, rgba(106, 196, 231, 0.486));
    background-size: 2rem 2rem;
    margin-left: 3%;
    animation: label 10s ease infinite;
}

@keyframes label {
    0% {
        color: rgba(161, 84, 197, 0.486);
    }
    50% {
        color: #0fffc1;
    }
    100% {
        color: rgba(133, 82, 182, 0.74);
    }
}

#textoATraducir {
    font-size: 0.95rem;
    text-align: justify;
    margin-top: 2%;
    margin-left: 3%;
    border-radius: 0.625rem;
    width: 93%;
}

#textoATraducir:hover {
    color: rgb(14, 13, 13);
    box-shadow: 0 0.25rem 1rem rgba(49, 138, 172, 1);
    text-shadow: 0.063rem 0.063rem 0.375rem #0fffc1;
}

.subForm {
    display: grid;
    grid-template-columns: 9.375rem 9.375rem;
    grid-template-rows: 2.5rem 3.125rem 3.125rem;
    gap: 9px;
    padding: 9px;
}

input {
    font-family: 'Tomorrow', sans-serif;
    padding: 0.1875rem;
    border-radius: 0.625rem;
    border: none;
}

#shift:hover {
    background-image: linear-gradient(to bottom right, #1c2a44, #233e5e);
    box-shadow: inset 0 0 1.25rem rgba(49, 138, 172, 0.5), 0 0 1.25rem rgba(49, 138, 172, 0.4);
    border: 0.065rem solid rgba(255, 255, 255, 0.3);
    color: #fff;
}

#btnCopiar {
    border-radius: 0.625rem;
    background-image: linear-gradient(to bottom right, #1c2a44, #233e5e);
    border: 0.0625rem solid rgba(255, 255, 255, 0.3);
}

#btnCopiar:hover {
    box-shadow: inset 0 0 1.25rem rgba(49, 138, 172, 0.5), 0 0 1.25rem rgba(49, 138, 172, 0.4);
    text-shadow: 0.063rem 0.063rem 0.375rem #0fffc1;
}

#btnCopiar img {
    height: 1.75rem;
    width: 1.75rem;
}

#cifrando {
    grid-column: 1/3;
    grid-row: 2;
}

#decifrando {
    grid-column: 1/3;
    grid-row: 3;
}

#cifrando,
#decifrando {
    color: snow;
    font-size: 1.2rem;
    background-image: linear-gradient(to bottom right, #1c2a44, #233e5e);
    border: 0.063rem solid rgba(255, 255, 255, 0.3);
    height: 2.875rem;
}

#cifrando:hover,
#decifrando:hover {
    box-shadow: inset 0 0 1.25rem rgba(49, 138, 172, 0.5), 0 0 1.25rem rgba(49, 138, 172, 0.4);
    text-shadow: 0.063rem 0.063rem 0.375rem #0fffc1;
}


/* FOOTER: Icon links,redes & gitHub, con shadow rgba y rgb neón (HOVER), animación css woble (share).*/

.footer {
    min-width: 95%;
}

.right {
    min-width: 50%;
    min-height: 60%;
    text-align: center;
    color: lavender;
    font-size: 0.6875rem;
    margin: 8% 12% 0% 0%;
    padding-left: 21%;
}

#gitHUb {
    height: 1.125rem;
    width: 1.125rem;
    margin: 0rem 0.188rem 0rem 0.188rem;
}

#gitHUb:hover {
    box-shadow: inset 0 0 1.25rem rgba(61, 247, 107, 0.863), 0 0 1.25rem rgb(68, 238, 82);
    border-radius: 50%;
}

.left {
    padding-left: 23%;
    min-width: 50%;
    min-height: 15%;
    margin-top: 5%;
}

.left a:link,
.left a img {
    width: 1.75rem;
    height: 1.75rem;
    text-decoration: none;
    margin-right: 3%;
}

.imgRedes:hover {
    box-shadow: inset 0 0 1.25rem rgba(61, 247, 107, 0.863), 0 0 1.25rem rgb(68, 238, 82);
    border-radius: 50%;
}

#facebook:hover {
    box-shadow: inset 0 0 1.25rem rgba(31, 69, 240, 0.863), 0 0 1.25rem rgb(40, 114, 252);
    border-radius: 10%;
}

#instagram:hover {
    box-shadow: inset 0 0 1.25rem rgba(243, 33, 226, 0.863), 0 0 1.25rem rgb(253, 25, 253);
    border-radius: 30%;
}

#compartir {
    margin-right: 0.9375rem;
    height: 1.8rem;
    width: 1.8rem;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}


/*RESPONSIVE: SamsungNoteII GalaxyS5 Iphones 5 6 7 8 Plus X iPad Pro, vertical horizontal, screen laptops, NO tv NO print*/

@media screen and (min-width:1000px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-width: 40%;
    }
}